/* CardItem.module.css */

.cardBorrow {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
  }
  
  .cardBorrow:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .cardBorrow h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .cardBorrow p {
    margin-bottom: 5px;
  }
  
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  