/* styles.css */

.table-container {
    margin: 20px; /* Adjust margin as needed */
  }
  
  .table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table th,
  .table td {
    vertical-align: middle;
  }
  
  .table th {
    background-color: #0080ff; /* Light gray background */
  }
  
  .table td button {
    background-color: transparent;
    border: none;
  }
  
  .table td button img {
    width: 20px; /* Adjust icon size */
    height: auto;
  }
  
  /* Optional: Adjust table width based on your design */
  .table-custom-width {
    width: 100%; /* Adjust as per your requirement */
  }
  