/* Deleteacc.module.css */

h4 {
    color: black; /* Set the text color to black */
  }

div {
    color: rgb(255, 255, 255); /* Set the text color to black */
  }

.modalBody{
    color: black;
}


.btn-retire {
    display: block;
    width: 100%;
    max-width: 250px;
    padding: 10px;
    margin: 10px 0;
    background-color: #ff0000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .btn-retire:hover {
    background-color: rgb(255, 127, 127);
  }
  