.table-container {
  justify-content: center;
  color: black;
  margin: 40px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
}

.table {
  justify-content: center;
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #e6e6e6;
  width: fit-content;
}

.table th {
  background-color: #ffffff;
  color: #000000;
}

.table tbody tr:nth-child(even) {
  background-color: #ffffff;
}


.pointer {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}

.smallsize {
  width: 20px;
}

.filter-label {
  color: #000000;
}
