.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ff6600; /* Orange background color */
}

.container {
  background-color: #8000ff; /* Purple background color */
  padding: 20px;
  border-radius: 15px;
  width: 600px; /* Adjusted width for better spacing */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sformGroup {
  width: 45%;
  margin-bottom: 20px; /* Added margin bottom for spacing */
}

.sformGroup label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
}

.sformGroup input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.sformGroup input[type='text'], .sformGroup input[type='email'], .sformGroup input[type='password'] {
  background-color: white;
}

.ssignupButton {
  width: 100%;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: bold;
  color: #8000ff; /* Purple text color */
  cursor: pointer;
  transition: background-color 0.3s;
}

.ssignupButton:hover {
  background-color: #d1d1d1;
}
