.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../assets/test.png');
}

.container {
  text-align: center;
  background-image: linear-gradient(to right, #7f00ff, #ff7b00);
  padding: 20px;
  border-radius: 15px;
  width: 600px; /* Adjusted width for better spacing */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sformGroup {
  width: 45%;
  margin-bottom: 20px; /* Added margin bottom for spacing */
}

.sformGroup label {
  display: block;
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
}

.sformGroup input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.sformGroup input[type='text'], .sformGroup input[type='email'], .sformGroup input[type='password'] {
  background-color: white;
}

.ssignupButton {
  width: 500px;
  padding: 10px;
  margin-top: 1rem; /* Adjust spacing */
  background-color: #ff7300;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.ssignupButton:hover {
  background-color: #ffbb7f;
}
